.month-tracker {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 1px;
  
    align-self: start;
  }
  
  .week-day {
    justify-self: center;
    align-self: center;
    font-size: 2.4rem;
    font-weight: 500;
    font-style: italic;
  }
  
  .month-header {
    font-size: 3.6rem;
    font-style: italic;
    font-weight: 600;
  
    text-align: center;
  }
  
  .month-name {
    color: #073B4C;
  }


    
/*Very Happy*/
.😁 {
  color: hsl(49, 95%, 49%);
}
.😁-background {
  background-color:hsl(59, 100%, 51%);
}

/*Happy*/
.😃 {
  color: #0b6804;
}
.😃-background {
  background-color: #4cff05;
}

/*Just Okay*/
.😑 {
  color: #034442;
}
.😑-background {
  background-color: #03b9b9;
}

/*Angry*/
.😠 {
  color: rgb(59, 2, 2);
}
.😠-background{
  background-color: rgb(248, 7, 7);
}

/*Scared*/
.😧 {
  color: rgb(86, 7, 110);
}
.😧-background{
  background-color: rgb(197, 8, 255);
}

/*Sad*/
.🙁 {
  color: #022146;
}
.🙁-background {
  background-color: #5350fa;
}

/*Really Sad*/
.😢 {
  color: #110109;
}
.😢-background {
  background-color: #c52160;
}