.date {
    display: flex;
    gap: 1.2rem; 
    font-weight: 500;
  }
  
  .date-month {
    font-weight: 600;
    color: #073b4c;
  }

  .date-year {
    font-weight: 600;
    color: #073b4c;
  }

  .month-container {
    background-color: aliceblue;
  }